<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
<session-factory>
	<property name="connection.username">root</property>

	<property name="connection.password">root</property>
	
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	
	<property name="connection.url">jdbc:mysql://localhost:3306/database3?useUnicode=true&amp;characterEncoding=UTF-8</property>
	
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

	<property name="show_sql">true</property>

	<property name="format_sql">true</property>

	<property name="hbm2ddl.auto">update</property>

	<property name="hibernate.current_session_context_class">thread</property>
	
	<mapping resource="com/vp/model/Manager.hbm.xml"/>
	<mapping resource="com/vp/model/Department.hbm.xml"/>
	<mapping resource="com/vp/model/Teacher.hbm.xml"/>
	<mapping resource="com/vp/model/Education.hbm.xml"/>
	<mapping resource="com/vp/model/Attendance.hbm.xml"/>
	<mapping resource="com/vp/model/Bonuspenalty.hbm.xml"/>
	<mapping resource="com/vp/model/Log.hbm.xml"/>
	<mapping resource="com/vp/model/Selection.hbm.xml"/>
	<mapping resource="com/vp/model/Train.hbm.xml"/>
</session-factory>
</hibernate-configuration>
